h1{
    color:red;
    background-color: yellow;
}
h2{
    color: violet;
    background-color: turquoise;
}
h3{
    color: tomato;
    background-color: teal;
}
p{
    color: tan;
    background-color: springgreen;
}